### This script stores the data which can be used in differnt other notebooks

In [2]:
import pandas as pd
import numpy as np

We have differnt different type of data.

#### 3 gateway data loader

In [5]:
import os

folder_path = '3_gateway_data/'  # Replace with the actual folder path

# Get a list of all files in the folder
files = os.listdir(folder_path)

sensors = []
i = 0

gateway_dataframes = {}


for file in files:
    if file == '.DS_Store':
        pass
    else:
        name = file.replace('.csv', '')
        sensors.append(name)
        print(file)

        # adding data from csv file to the list of data which is placed in dataframe which is a list
        gateway_dataframes[name] = pd.read_csv('3_gateway_data/' + file)
%store gateway_dataframes

light_maroon_penguin.csv
closed_wagon_snail.csv
easily_dear_mouse.csv
daily_ace_bear.csv
bored_blue_fish.csv
mildly_calm_ibex.csv

/Users/ashoktimsina/Desktop/Floodnet2/floodnet/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3258: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

lovely_helped_lamb.csv
duly_star_bee.csv
daily_new_falcon.csv
daily_gentle_beetle.csv
weekly_poetic_guinea.csv
early_still_frog.csv
overly_heroic_squid.csv
clearly_bored_turtle.csv
daily_happy_satyr.csv
jolly_tender_squid.csv
mean_flying_fish.csv
blue_eyed_tiger.csv
gladly_mint_snail.csv
simply_half_monkey.csv
total_melt_deer.csv
vastly_saving_whale.csv
openly_driven_tarpon.csv
Stored 'gateway_dataframes' (dict)

In [6]:
gateway_dataframes

{'light_maroon_penguin':         Unnamed: 0                              time         deployment_id  \
 0                0  2023-04-08 11:54:12.930000+00:00  light_maroon_penguin
 1                1  2023-04-08 11:55:16.321000+00:00  light_maroon_penguin
 2                2  2023-04-08 11:56:19.400000+00:00  light_maroon_penguin
 3                3  2023-04-08 11:57:22.348000+00:00  light_maroon_penguin
 4                4  2023-04-08 11:58:25.509000+00:00  light_maroon_penguin
 ...            ...                               ...                   ...
 135368      135368  2023-07-17 16:00:30.664000+00:00  light_maroon_penguin
 135369      135369  2023-07-17 16:01:33.665000+00:00  light_maroon_penguin
 135370      135370  2023-07-17 16:02:37.295000+00:00  light_maroon_penguin
 135371      135371  2023-07-17 16:03:40.205000+00:00  light_maroon_penguin
 135372      135372  2023-07-17 16:04:43.246000+00:00  light_maroon_penguin

         error_flag  batt_v                            gw_1_id  dist_mm  \
 0                0   4.070  floodnet-ltap-gw-313330372b007400   2546.0
 1                0   4.070  floodnet-ltap-gw-313330372b007400   2562.0
 2                0   4.070  floodnet-ltap-gw-313330372b007400   2587.0
 3                0   4.070  floodnet-ltap-gw-313330372b007400   2562.0
 4                0   4.070  floodnet-ltap-gw-313330372b007400   2570.0
 ...            ...     ...                                ...      ...
 135368           0   4.056  floodnet-ltap-gw-313330372b007400   2614.0
 135369           0   4.056  floodnet-ltap-gw-553232201d003500   2575.0
 135370           0   4.056  floodnet-ltap-gw-553232201d003500   2641.0
 135371           0   4.056  floodnet-ltap-gw-553232201d003500   2644.0
 135372           0   4.056  floodnet-ltap-gw-553232201d003500   2614.0

            f_cnt  gw_1_rssi_dbm  gw_1_snr_db  \
 0        40516.0          -85.0         5.00
 1        40517.0          -89.0        10.25
 2        40518.0         -103.0         6.00
 3        40519.0         -107.0         6.25
 4        40520.0         -103.0         7.00
 ...          ...            ...          ...
 135368  178125.0         -115.0        -2.50
 135369  178126.0         -105.0         0.75
 135370  178127.0         -104.0        -6.00
 135371  178128.0         -103.0        -1.25
 135372  178129.0          -98.0        -0.25

                                   gw_2_id  gw_2_rssi_dbm  gw_2_snr_db gw_3_id  \
 0                                     NaN            NaN          NaN     NaN
 1                                     NaN            NaN          NaN     NaN
 2                                     NaN            NaN          NaN     NaN
 3                                     NaN            NaN          NaN     NaN
 4                                     NaN            NaN          NaN     NaN
 ...                                   ...            ...          ...     ...
 135368                                NaN            NaN          NaN     NaN
 135369                                NaN            NaN          NaN     NaN
 135370  floodnet-ltap-gw-313330372b007400         -115.0         -3.0     NaN
 135371  floodnet-ltap-gw-313330372b007400         -116.0         -2.0     NaN
 135372  floodnet-ltap-gw-313330372b007400         -110.0          3.0     NaN

         gw_3_rssi_dbm  gw_3_snr_db            times        date
 0                 NaN          NaN  11:54:12.930000  2023-04-08
 1                 NaN          NaN  11:55:16.321000  2023-04-08
 2                 NaN          NaN  11:56:19.400000  2023-04-08
 3                 NaN          NaN  11:57:22.348000  2023-04-08
 4                 NaN          NaN  11:58:25.509000  2023-04-08
 ...               ...          ...              ...         ...
 135368            NaN          NaN  16:00:30.664000  2023-07-17
 135369            NaN          NaN  16:01:33.665000  2023-07-17
 135370            NaN          NaN  16:02:37.295000  2023-07-17
 135371            NaN          NaN  16:03:40.205000  2023-07-17
 135372            NaN          NaN  16:04:43.246000  2023-07-17

 [135373 rows x 18 columns],
 'closed_wagon_snail':         Unnamed: 0                              time       deployment_id  \
 0                0  2023-04-08 11:54:31.707000+00:00  closed_wagon_snail
 1                1  2023-04-08 11:55:35.138000+00:00  closed_wagon_snail
 2                2  2023-04-08 11:56:37.912000+00:00  closed_wagon_snail
 3                3  2023-04-08 11:57:40.667000+00:00  closed_wagon_snail
 4                4  2023-04-08 11:58:44.217000+00:00  closed_wagon_snail
 ...            ...                               ...                 ...
 134199      134199  2023-07-17 15:57:53.650000+00:00  closed_wagon_snail
 134200      134200  2023-07-17 15:58:57.144000+00:00  closed_wagon_snail
 134201      134201  2023-07-17 15:59:59.998000+00:00  closed_wagon_snail
 134202      134202  2023-07-17 16:01:03.376000+00:00  closed_wagon_snail
 134203      134203  2023-07-17 16:02:06.564000+00:00  closed_wagon_snail

         error_flag  batt_v                            gw_1_id  dist_mm  \
 0                0   4.002  floodnet-ltap-gw-553232201d003500     2785
 1                0   4.002  floodnet-ltap-gw-553232201d003500     2786
 2                0   4.002  floodnet-ltap-gw-553232201d003500     2787
 3                0   4.002  floodnet-ltap-gw-553232201d003500     2783
 4                0   4.002  floodnet-ltap-gw-553232201d003500     2783
 ...            ...     ...                                ...      ...
 134199           0   3.590  floodnet-ltap-gw-553232201d003500     2791
 134200           0   3.590  floodnet-ltap-gw-553232201d003500     9999
 134201           0   3.590  floodnet-ltap-gw-553232201d003500     9999
 134202           0   3.590  floodnet-ltap-gw-553232201d003500     9999
 134203           0   3.590  floodnet-ltap-gw-553232201d003500     9999

          f_cnt  gw_1_rssi_dbm  gw_1_snr_db                            gw_2_id  \
 0        40523          -75.0         7.50  floodnet-ltap-gw-313330372b007400
 1        40524          -71.0         8.25                                NaN
 2        40525          -71.0         6.50                                NaN
 3        40526          -74.0         8.50                                NaN
 4        40527          -81.0         6.00                                NaN
 ...        ...            ...          ...                                ...
 134199  178152          -79.0         6.00                                NaN
 134200  178153          -79.0         9.50                                NaN
 134201  178154          -80.0         6.75                                NaN
 134202  178155          -80.0         8.50                                NaN
 134203  178156          -79.0         6.25                                NaN

         gw_2_rssi_dbm  gw_2_snr_db gw_3_id  gw_3_rssi_dbm  gw_3_snr_db  \
 0              -107.0         3.25     NaN            NaN          NaN
 1                 NaN          NaN     NaN            NaN          NaN
 2                 NaN          NaN     NaN            NaN          NaN
 3                 NaN          NaN     NaN            NaN          NaN
 4                 NaN          NaN     NaN            NaN          NaN
 ...               ...          ...     ...            ...          ...
 134199            NaN          NaN     NaN            NaN          NaN
 134200            NaN          NaN     NaN            NaN          NaN
 134201            NaN          NaN     NaN            NaN          NaN
 134202            NaN          NaN     NaN            NaN          NaN
 134203            NaN          NaN     NaN            NaN          NaN

                   times        date
 0       11:54:31.707000  2023-04-08
 1       11:55:35.138000  2023-04-08
 2       11:56:37.912000  2023-04-08
 3       11:57:40.667000  2023-04-08
 4       11:58:44.217000  2023-04-08
 ...                 ...         ...
 134199  15:57:53.650000  2023-07-17
 134200  15:58:57.144000  2023-07-17
 134201  15:59:59.998000  2023-07-17
 134202  16:01:03.376000  2023-07-17
 134203  16:02:06.564000  2023-07-17

 [134204 rows x 18 columns],
 'easily_dear_mouse':        Unnamed: 0                              time      deployment_id  \
 0               0  2023-04-12 19:27:48.494000+00:00  easily_dear_mouse
 1               1  2023-04-12 19:27:56.286000+00:00  easily_dear_mouse
 2               2  2023-04-12 19:28:59.701000+00:00  easily_dear_mouse
 3               3  2023-04-12 19:30:02.701000+00:00  easily_dear_mouse
 4               4  2023-04-12 19:31:05.503000+00:00  easily_dear_mouse
 ...           ...                               ...                ...
 10392       10392  2023-07-17 15:54:09.410000+00:00  easily_dear_mouse
 10393       10393  2023-07-17 15:55:12.943000+00:00  easily_dear_mouse
 10394       10394  2023-07-17 15:56:16.384000+00:00  easily_dear_mouse
 10395       10395  2023-07-17 15:57:19.968000+00:00  easily_dear_mouse
 10396       10396  2023-07-17 15:58:23.284000+00:00  easily_dear_mouse

        error_flag  batt_v     gw_1_id  dist_mm   f_cnt  gw_1_rssi_dbm  \
 0             0.0   2.926  fngw-10000   1826.0     NaN            -81
 1             0.0   2.928  fngw-10000   1715.0     1.0            -97
 2             0.0   2.938  fngw-10000   1726.0     2.0            -87
 3             0.0   2.946  fngw-10000   1706.0     3.0            -81
 4             0.0   2.952  fngw-10000   1723.0     4.0            -83
 ...           ...     ...         ...      ...     ...            ...
 10392         0.0   4.118  fngw-10000   1557.0  8264.0            -90
 10393         0.0   4.118  fngw-10000   1556.0  8265.0            -87
 10394         0.0   4.118  fngw-10000   1557.0  8266.0            -90
 10395         0.0   4.118  fngw-10000   1556.0  8267.0            -86
 10396         0.0   4.118  fngw-10000   1555.0  8268.0            -89

        gw_1_snr_db gw_2_id  gw_2_rssi_dbm  gw_2_snr_db gw_3_id  gw_3_rssi_dbm  \
 0             5.50     NaN            NaN          NaN     NaN            NaN
 1             8.00     NaN            NaN          NaN     NaN            NaN
 2             7.50     NaN            NaN          NaN     NaN            NaN
 3             8.50     NaN            NaN          NaN     NaN            NaN
 4             7.75     NaN            NaN          NaN     NaN            NaN
 ...            ...     ...            ...          ...     ...            ...
 10392         8.00     NaN            NaN          NaN     NaN            NaN
 10393         8.50     NaN            NaN          NaN     NaN            NaN
 10394         7.00     NaN            NaN          NaN     NaN            NaN
 10395         9.25     NaN            NaN          NaN     NaN            NaN
 10396         6.75     NaN            NaN          NaN     NaN            NaN

        gw_3_snr_db            times        date
 0              NaN  19:27:48.494000  2023-04-12
 1              NaN  19:27:56.286000  2023-04-12
 2              NaN  19:28:59.701000  2023-04-12
 3              NaN  19:30:02.701000  2023-04-12
 4              NaN  19:31:05.503000  2023-04-12
 ...            ...              ...         ...
 10392          NaN  15:54:09.410000  2023-07-17
 10393          NaN  15:55:12.943000  2023-07-17
 10394          NaN  15:56:16.384000  2023-07-17
 10395          NaN  15:57:19.968000  2023-07-17
 10396          NaN  15:58:23.284000  2023-07-17

 [10397 rows x 18 columns],
 'daily_ace_bear':        Unnamed: 0                              time   deployment_id  \
 0               0  2023-05-31 20:45:20.837000+00:00  daily_ace_bear
 1               1  2023-05-31 20:46:23.675000+00:00  daily_ace_bear
 2               2  2023-05-31 20:47:26.365000+00:00  daily_ace_bear
 3               3  2023-05-31 20:48:29.147000+00:00  daily_ace_bear
 4               4  2023-05-31 20:49:32.582000+00:00  daily_ace_bear
 ...           ...                               ...             ...
 61206       61206  2023-07-17 16:04:56.742000+00:00  daily_ace_bear
 61207       61207  2023-07-17 16:05:59.933000+00:00  daily_ace_bear
 61208       61208  2023-07-17 16:07:03.172000+00:00  daily_ace_bear
 61209       61209  2023-07-17 16:08:06.687000+00:00  daily_ace_bear
 61210       61210  2023-07-17 16:09:09.968000+00:00  daily_ace_bear

        error_flag  batt_v      gw_1_id  dist_mm    f_cnt  gw_1_rssi_dbm  \
 0               0   4.048  nyc-mocto-1     2792   7252.0            -84
 1               0   4.048  nyc-mocto-1     2788   7253.0            -86
 2               0   4.046  nyc-mocto-1     2791   7254.0            -83
 3               0   4.048  nyc-mocto-1     2776   7255.0            -87
 4               0   4.046  nyc-mocto-1     2783   7256.0            -79
 ...           ...     ...          ...      ...      ...            ...
 61206           0   4.070  nyc-mocto-1     2782  13967.0            -83
 61207           0   4.070  nyc-mocto-1     2787  13968.0            -86
 61208           0   4.070  nyc-mocto-1     2789  13969.0            -81
 61209           0   4.070  nyc-mocto-1     2783  13970.0            -86
 61210           0   4.070  nyc-mocto-1     2782  13971.0            -87

        gw_1_snr_db gw_2_id  gw_2_rssi_dbm  gw_2_snr_db gw_3_id  gw_3_rssi_dbm  \
 0             2.25     NaN            NaN          NaN     NaN            NaN
 1             7.50     NaN            NaN          NaN     NaN            NaN
 2             9.25     NaN            NaN          NaN     NaN            NaN
 3             6.75     NaN            NaN          NaN     NaN            NaN
 4             7.50     NaN            NaN          NaN     NaN            NaN
 ...            ...     ...            ...          ...     ...            ...
 61206         9.50     NaN            NaN          NaN     NaN            NaN
 61207         8.00     NaN            NaN          NaN     NaN            NaN
 61208         5.50     NaN            NaN          NaN     NaN            NaN
 61209         9.75     NaN            NaN          NaN     NaN            NaN
 61210         7.25     NaN            NaN          NaN     NaN            NaN

        gw_3_snr_db            times        date
 0              NaN  20:45:20.837000  2023-05-31
 1              NaN  20:46:23.675000  2023-05-31
 2              NaN  20:47:26.365000  2023-05-31
 3              NaN  20:48:29.147000  2023-05-31
 4              NaN  20:49:32.582000  2023-05-31
 ...            ...              ...         ...
 61206          NaN  16:04:56.742000  2023-07-17
 61207          NaN  16:05:59.933000  2023-07-17
 61208          NaN  16:07:03.172000  2023-07-17
 61209          NaN  16:08:06.687000  2023-07-17
 61210          NaN  16:09:09.968000  2023-07-17

 [61211 rows x 18 columns],
 'bored_blue_fish':        Unnamed: 0                              time    deployment_id  \
 0               0  2023-04-08 12:00:34.460000+00:00  bored_blue_fish
 1               1  2023-04-08 12:08:03.218000+00:00  bored_blue_fish
 2               2  2023-04-08 12:22:45.589000+00:00  bored_blue_fish
 3               3  2023-04-08 12:26:57.097000+00:00  bored_blue_fish
 4               4  2023-04-08 12:46:55.746000+00:00  bored_blue_fish
 ...           ...                               ...              ...
 14493       14493  2023-07-17 15:21:13.773000+00:00  bored_blue_fish
 14494       14494  2023-07-17 15:34:52.903000+00:00  bored_blue_fish
 14495       14495  2023-07-17 15:39:05.697000+00:00  bored_blue_fish
 14496       14496  2023-07-17 15:46:25.999000+00:00  bored_blue_fish
 14497       14497  2023-07-17 16:00:03.684000+00:00  bored_blue_fish

        error_flag  batt_v                            gw_1_id  dist_mm   f_cnt  \
 0               0   3.756  floodnet-ltap-gw-553232201d003500     2927  148741
 1               0   3.806  floodnet-ltap-gw-553232201d003500     2926  148749
 2               0   3.850                         fngw-10000     2929  148763
 3               0   3.872                         fngw-10000     2931  148767
 4               0   3.902               eui-343632383e001c00     2936  148786
 ...           ...     ...                                ...      ...     ...
 14493           0   4.056  floodnet-ltap-gw-553232200e001300     2937  286364
 14494           0   4.094               eui-343632383e001c00     2936  286377
 14495           0   4.106  floodnet-ltap-gw-553232200e001300     2939  286381
 14496           0   4.126  floodnet-ltap-gw-553232200e001300     2944  286388
 14497           0   4.146  floodnet-ltap-gw-553232201d003500     2945  286401

        gw_1_rssi_dbm  gw_1_snr_db gw_2_id  gw_2_rssi_dbm  gw_2_snr_db gw_3_id  \
 0               -101        -6.50     NaN            NaN          NaN     NaN
 1               -101        -6.00     NaN            NaN          NaN     NaN
 2               -109        -5.00     NaN            NaN          NaN     NaN
 3               -105        -5.25     NaN            NaN          NaN     NaN
 4               -113        -6.00     NaN            NaN          NaN     NaN
 ...              ...          ...     ...            ...          ...     ...
 14493           -110        -6.75     NaN            NaN          NaN     NaN
 14494           -115        -7.25     NaN            NaN          NaN     NaN
 14495           -109        -4.25     NaN            NaN          NaN     NaN
 14496           -113        -9.00     NaN            NaN          NaN     NaN
 14497           -107        -7.25     NaN            NaN          NaN     NaN

        gw_3_rssi_dbm  gw_3_snr_db            times        date
 0                NaN          NaN  12:00:34.460000  2023-04-08
 1                NaN          NaN  12:08:03.218000  2023-04-08
 2                NaN          NaN  12:22:45.589000  2023-04-08
 3                NaN          NaN  12:26:57.097000  2023-04-08
 4                NaN          NaN  12:46:55.746000  2023-04-08
 ...              ...          ...              ...         ...
 14493            NaN          NaN  15:21:13.773000  2023-07-17
 14494            NaN          NaN  15:34:52.903000  2023-07-17
 14495            NaN          NaN  15:39:05.697000  2023-07-17
 14496            NaN          NaN  15:46:25.999000  2023-07-17
 14497            NaN          NaN  16:00:03.684000  2023-07-17

 [14498 rows x 18 columns],
 'mildly_calm_ibex':         Unnamed: 0                              time     deployment_id  \
 0                0  2023-04-08 11:53:46.941000+00:00  mildly_calm_ibex
 1                1  2023-04-08 11:54:50.329000+00:00  mildly_calm_ibex
 2                2  2023-04-08 11:55:53.173000+00:00  mildly_calm_ibex
 3                3  2023-04-08 11:56:55.715000+00:00  mildly_calm_ibex
 4                4  2023-04-08 11:57:58.468000+00:00  mildly_calm_ibex
 ...            ...                               ...               ...
 136771      136771  2023-07-17 15:53:03.114000+00:00  mildly_calm_ibex
 136772      136772  2023-07-17 15:54:06.320000+00:00  mildly_calm_ibex
 136773      136773  2023-07-17 15:55:09.044000+00:00  mildly_calm_ibex
 136774      136774  2023-07-17 15:56:12.204000+00:00  mildly_calm_ibex
 136775      136775  2023-07-17 15:57:14.713000+00:00  mildly_calm_ibex

         error_flag  batt_v     gw_1_id  dist_mm     f_cnt  gw_1_rssi_dbm  \
 0                0   4.062  fngw-10000   2611.0  158104.0          -60.0
 1                0   4.062  fngw-10000   2618.0  158105.0          -59.0
 2                0   4.060  fngw-10000   2618.0  158106.0          -61.0
 3                0   4.064  fngw-10000   2616.0  158107.0          -58.0
 4                0   4.070  fngw-10000   2619.0  158108.0          -62.0
 ...            ...     ...         ...      ...       ...            ...
 136771           0   4.086  fngw-10000   5000.0  296110.0          -57.0
 136772           0   4.086  fngw-10000   5000.0  296111.0          -68.0